@use 'variables' as *;

footer {
      background-image: url(../img/footer-bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 2rem 0;

      .my_container {
            max-width: 1200px;
            margin: auto;
            display: flex;

            .row {
                  width: 100%;
            }
      }


      h3 {
            color: $light;
            text-transform: uppercase;
            padding: 0.5rem 0;
      }

      a {
            display: block;
            text-decoration: none;
            color: $lighter;
      }
}